<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/blog/add_article" method="get">
   <div class="col-md-6 ">
        <div class="">
            <label>输入昵称：</label>
            <input type="text" class="form-control zc-ys"  name="nickname" aria-label="...">
        </div>
        <div class="">
            <label>输入用户名：</label>
            <input type="text" class="form-control zc-ys" name="username" aria-label="...">
        </div>
        <div class="">
            <label>输入密码：</label>
            <input type="password" class="form-control zc-ys" name="password"  aria-label="...">
        </div>
        <div class="">
            <label>邮箱：</label>
            <input type="text" class="form-control zc-ys" name="email"  aria-label="...">
        </div>
       <input type="submit" value="注册">
    </div>
</form>
</body>
</html>